@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

@theme {
    --font-ibm-plex: "IBM Plex Sans", sans-serif;
}

.scroll-custom {
    scrollbar-width: thin;
    scrollbar-color: #030712 #101828;
}

.scroll-custom::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.scroll-custom::-webkit-scrollbar-track {
    background: #101828;
    border-radius: 4px;
}

.scroll-custom::-webkit-scrollbar-thumb {
    background-color: #030712;
    border-radius: 4px;
    border: 2px solid #101828;
}